table {
  border-collapse: collapse;
  width: 100%;
}
table,
td,
th {
  border: 1px solid black;
}
th,
td {
  padding: 5px;
}
.grey-background {
  background-color: rgb(187, 185, 185);
}
.company {
  width: 60%;
}
